<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.MessageDao">
    <resultMap type="Message" id="MessageResult">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="mobile" column="mobile"/>
        <result property="demands" column="demands"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>


    <select id="select" parameterType="java.util.Map" resultMap="MessageResult">
		SELECT id,user_name,mobile,demands,create_date,update_date FROM admin_message 
		<where>
			<choose>
				<when test="searchName != null and 'all' == searchName and null !=searchValue and ''!= searchValue">
					or user_name like '%${searchValue}%'
					or mobile like '%${searchValue}%'
					or demands like '%${searchValue}%'
				</when>
				<otherwise>
					<if test="userName!=null and userName!='' ">
               			 and user_name like '%${userName}%'
		            </if>
		            <if test="mobile!=null and mobile!='' ">
		                and mobile like '%${mobile}%'
		            </if>
		            <if test="demands!=null and demands!='' ">
		                and demands like '%${demands}%'
		            </if>
				</otherwise>
			</choose>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
	</select>
	
	 <select id="count" parameterType="Map" resultType="int">
        select count(*) from admin_message
        <where>
            <if test="userName!=null and userName!='' ">
                and user_name like '%${userName}%'
            </if>
            <if test="mobile!=null and mobile!='' ">
                and mobile like '%${mobile}%'
            </if>
            <if test="demands!=null and demands!='' ">
                and demands like '%${demands}%'
            </if>
        </where>
    </select>
    
    
    <delete id="delete" parameterType="Integer">
        delete from admin_message
        where id=#{id}
    </delete>
    
	
</mapper> 